$gray-standard: #eee;
$green: #00A566;
$green: #A3CD99
$darkgreen: #579E81

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-flow: row;
}
.information {
  flex: 2 auto;
 }
.highlights {
  background-color: $gray-standard;
  padding: 20px;
}
.nurturetips {
  background-color: $gray-standard;
  padding: 20px;
}
.title {
  background-color: $green;
  display: block;
  padding: 15px;
  width: 100%;
  align-items: center;
}
.main {
  display: flex;
  flex: 5 auto;
  background-color: blue;
}
h1 {
  font-style: raleway, sans-serif;
  letter-spacing: .2em;
  font-size: 4em;
  text-align: center;
  color: #ffffff;
  align-items: flex-start;
}
h2 {
  font-style: roboto, sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 1.5em;
  text-align: center;
  color: white;
}
h3 {
  font-style: roboto, sans-serif;
  font-weight: 130;
  letter-spacing: .2em;
  font-size: 1em;
  text-align: center;
}
.slider {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#slider {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
}
input[type="range"]
  -webkit-appearance: none !important /*Needed to reset default slider styles */
  width: 100%
  height: 15px
  background:
    color: $green
  border: 1px solid darken($green, 4%)
    radius: 10px
  margin: auto
  transition: all 0.3s ease



  &:hover
    background-color: lighten($green, 5%)

  &:active + #rangevalue /*Here to do something to the value while moving the slider */


input[type="range"]::-webkit-slider-thumb
  -webkit-appearance: none !important
  width: 20px
  height: 20px
  background:
    color: $darkgreen
  border:
    radius: 30px
  box-shadow: 0px 0px 3px darken($darkgreen, 15%)
  transition: all 0.5s ease


  &:hover
    background:
      color: darken($darkgreen, 10%)

  &:active
    box-shadow: 0px 0px 1px darken($darkgreen, 15%)


#rangevalue
  text-align: center
  font:
    family: 'Quantico', sans-serif
    size: 18px
  display: block
  margin: auto
  padding: 10px 0px
  width: 100%
  color: $darkgreen 
